@model FamilySite.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Confirmation";
}
<div id="family-wrapper">
    <h3>@ViewBag.Title</h3>
    <hr />

    <div id="CourseDetailsContainer">
        <!--Response Message (if the message was sent to us successfully)-->
        <h4>
            Thank you for contacting us, @Model.Name!!! We will get back to you within 24 hours.
        </h4>  
    </div>
          
</div>
